@use 'sass:math';

@mixin theme {
	--color-primary-h: var(--prim-color-primary-h);
	--color-primary-s: var(--prim-color-primary-s);
	--color-primary-l: 68%;

	// Primary tokens

	// Primary
	--color-primary-shade-1: #333333;
	--color-primary: #000000;
	--color-primary-tint-1: #1a1a1a;
	--color-primary-tint-2: #333333;
	--color-primary-tint-3: #4d4d4d;

	// Secondary
	--color-secondary-shade-1: #4d4d4d;
	--color-secondary: #666666;
	--color-secondary-tint-1: #808080;
	--color-secondary-tint-3: #999999;

	// Success
	--color-success-shade-1: #1a1a1a;
	--color-success: #000000;
	--color-success-light: #333333;
	--color-success-light-2: #4d4d4d;
	--color-success-tint-1: #666666;
	--color-success-tint-2: #808080;

	// Warning
	--color-warning-shade-1: #4d4d4d;
	--color-warning: #666666;
	--color-warning-tint-1: #808080;
	--color-warning-tint-2: #999999;

	// Danger
	--color-danger-shade-1: #b3b3b3;
	--color-danger: #cccccc;
	--color-danger-tint-1: #e0e0e0;
	--color-danger-tint-2: #f2f2f2;

	// Text
	--color-text-dark: #000000;
	--color-text-base: #333333;
	--color-text-light: #666666;
	--color-text-lighter: #999999;
	--color-text-xlight: #cccccc;
	--color-text-danger: #ff4c4c;

	// Foreground
	--color-foreground-xdark: #000000;
	--color-foreground-dark: #1a1a1a;
	--color-foreground-base: #333333;
	--color-foreground-light: #666666;
	--color-foreground-xlight: #999999;

	// Background
	--color-background-dark: #f2f2f2;
	--color-background-medium: #e6e6e6;
	--color-background-base: #cccccc;
	--color-background-light-base: #b3b3b3;
	--color-background-light: #999999;
	--color-background-xlight: #666666;

	// Secondary tokens

	// LangChain
<<<<<<< HEAD
	--color-lm-chat-messages-background: #cccccc;
	--color-lm-chat-bot-background: #ffffff;
	--color-lm-chat-bot-color: #000000;
	--color-lm-chat-user-background: #e6e6e6;
	--color-lm-chat-user-color: #ffffff;

	// Canvas
	--color-canvas-background: #f2f2f2;
	--color-canvas-background-h: var(--prim-gray-h);
	--color-canvas-background-s: 1%;
	--color-canvas-background-l: 18%;
	--color-canvas-dot: #333333;
	--color-canvas-read-only-line: #e6e6e6;
	--color-canvas-node-background: #ffffff;
	--color-canvas-node-pinned-border: #666666;
	--color-canvas-selected: #cccccc;
	--node-type-main-color: #000000;
=======
	--color-lm-chat-messages-background: var(--color-background-base);
	--color-lm-chat-bot-background: var(--prim-gray-0);
	--color-lm-chat-user-background: var(--prim-color-alt-a);
	--color-lm-chat-user-color: var(--color-text-xlight);

	// Canvas
	--color-canvas-background: var(--prim-gray-10);
	--color-canvas-background-h: var(--prim-gray-h); // Used for connectors labels background
	--color-canvas-background-s: 47%;
	--color-canvas-background-l: 99%;
	--color-canvas-dot: var(--prim-gray-120);
	--color-canvas-read-only-line: var(--prim-gray-30);
	--color-canvas-selected: var(--prim-gray-70);
	--color-canvas-selected-transparent: hsla(var(--prim-gray-h), 47%, 30%, 0.1);
	--color-canvas-label-background: hsla(
		var(--color-canvas-background-h),
		var(--color-canvas-background-s),
		var(--color-canvas-background-l),
		0.85
	);

	// Nodes
	--color-node-background: var(--color-background-xlight);
	--color-node-executing-background: var(--color-primary-tint-3);
	--color-node-executing-other-background: var(--color-primary-tint-3);
	--color-node-pinned-border: var(--color-secondary);
	--color-node-running-border: var(--color-primary);
	--node-type-main-color: var(--prim-gray-490);
>>>>>>> 4f27b39b45b58779d363980241e6e5e11b58f5da

	// Sticky
	--color-sticky-background: #333333;
	--color-sticky-border: #4d4d4d;
	--color-sticky-font: #000000;
	--color-sticky-code-font: #666666;
	--color-sticky-code-background: #cccccc;

	--color-sticky-background-1: #333333;
	--color-sticky-border-1: #4d4d4d;
	--color-sticky-background-2: #4d4d4d;
	--color-sticky-border-2: #666666;
	--color-sticky-background-3: #666666;
	--color-sticky-border-3: #808080;
	--color-sticky-background-4: #808080;
	--color-sticky-border-4: #999999;
	--color-sticky-background-5: #999999;
	--color-sticky-border-5: #b3b3b3;
	--color-sticky-background-6: #b3b3b3;
	--color-sticky-border-6: #cccccc;
	--color-sticky-background-7: #cccccc;
	--color-sticky-border-7: #e0e0e0;

	// AI Assistant
	--color-askAssistant-button-background: var(--color-background-xlight);
	--color-askAssistant-button-background-hover: var(--color-background-xlight);
	--color-askAssistant-button-background-active: var(--color-background-xlight);

	--color-assistant-highlight-1: #5b60e8;
	--color-assistant-highlight-2: #aa7bec;
	--color-assistant-highlight-3: #ec7b8e;
	--color-assistant-highlight-gradient: linear-gradient(
		105deg,
		var(--color-assistant-highlight-1) 0%,
		var(--color-assistant-highlight-2) 50%,
		var(--color-assistant-highlight-3) 100%
	);
	--color-assistant-highlight-reverse: linear-gradient(
		105deg,
		var(--color-assistant-highlight-3) 0%,
		var(--color-assistant-highlight-2) 50%,
		var(--color-assistant-highlight-1) 100%
	);
	--color-assistant-inner-highlight-hover: linear-gradient(
		108.82deg,
		rgba(236, 123, 142, 0.12) 0%,
		rgba(170, 123, 236, 0.12) 50.5%,
		rgba(91, 96, 232, 0.12) 100%
	);
	--color-assistant-inner-highlight-active: linear-gradient(
		108.82deg,
		rgba(236, 123, 142, 0.25) 0%,
		rgba(170, 123, 236, 0.25) 50.5%,
		rgba(91, 96, 232, 0.25) 100%
	);

	// NodeIcon
	--color-node-icon-gray: var(--prim-gray-420);
	--color-node-icon-black: var(--prim-gray-780);
	--color-node-icon-blue: #3a42e9;
	--color-node-icon-light-blue: #5fabf7;
	--color-node-icon-dark-blue: #353f6e;
	--color-node-icon-orange: #ff965a;
	--color-node-icon-orange-red: #ff6d5a;
	--color-node-icon-pink-red: #ea4b71;
	--color-node-icon-red: var(--prim-color-alt-c);
	--color-node-icon-light-green: #31c4ab;
	--color-node-icon-green: #108e49;
	--color-node-icon-dark-green: #157562;
	--color-node-icon-azure: #54b8c9;
	--color-node-icon-purple: #553399;
	--color-node-icon-crimson: #772244;

	// Expressions, autocomplete, infobox
<<<<<<< HEAD
	--color-valid-resolvable-foreground: #000000;
	--color-valid-resolvable-background: #4d4d4d;
	--color-invalid-resolvable-foreground: #ff4c4c;
	--color-invalid-resolvable-background: #e0e0e0;
	--color-pending-resolvable-foreground: #333333;
	--color-pending-resolvable-background: #b3b3b3;
	--color-expression-editor-background: #ffffff;
	--color-expression-syntax-example: #cccccc;
	--color-autocomplete-item-selected: #666666;
	--color-autocomplete-section-header-border: #e0e0e0;
	--color-infobox-background: #e6e6e6;
	--color-infobox-examples-border-color: #999999;

	// Code
	--color-code-tags-string: #000000;
	--color-code-tags-primitive: #666666;
	--color-code-tags-keyword: #999999;
	--color-code-tags-operator: #cccccc;
	--color-code-tags-variable: #4d4d4d;
	--color-code-tags-definition: #666666;
	--color-json-default: #b3b3b3;
	--color-json-null: #ff4c4c;
	--color-json-boolean: #666666;
	--color-json-number: #666666;
	--color-json-string: #b3b3b3;
	--color-json-key: #000000;
	--color-json-brackets: #333333;
	--color-json-brackets-hover: #666666;
	--color-json-line: #e6e6e6;
	--color-json-highlight: #999999;
	--color-code-background: #ffffff;
	--color-code-background-readonly: #cccccc;
	--color-code-lineHighlight: #b3b3b3;
	--color-code-foreground: #333333;
	--color-code-caret: #1a1a1a;
	--color-code-selection: rgba(128, 128, 255, 0.04);
	--color-code-gutterBackground: #ffffff;
	--color-code-gutterForeground: #cccccc;
	--color-code-tags-comment: #e0e0e0;
=======
	--color-valid-resolvable-foreground: var(--prim-color-alt-a);
	--color-valid-resolvable-background: var(--prim-color-alt-a-tint-500);
	--color-invalid-resolvable-foreground: var(--prim-color-alt-c);
	--color-invalid-resolvable-background: var(--prim-color-alt-c-tint-450);
	--color-pending-resolvable-foreground: var(--color-text-base);
	--color-pending-resolvable-background: var(--prim-gray-40);
	--color-expression-editor-background: var(--prim-gray-0);
	--color-expression-editor-modal-background: var(--color-background-base);
	--color-expression-syntax-example: var(--prim-gray-40);
	--color-autocomplete-item-selected: var(--color-secondary);
	--color-autocomplete-section-header-border: var(--color-foreground-light);
	--color-infobox-background: var(--color-background-light-base);
	--color-infobox-examples-border-color: var(--color-foreground-light);

	// Code
	--color-code-tags-string: var(--prim-color-alt-f);
	--color-code-tags-primitive: var(--prim-color-alt-b-shade-100);
	--color-code-tags-keyword: var(--prim-color-alt-g);
	--color-code-tags-operator: var(--prim-color-alt-h);
	--color-code-tags-variable: var(--prim-color-alt-c-shade-100);
	--color-code-tags-definition: var(--prim-color-alt-e-shade-150);
	--color-json-default: var(--prim-color-secondary-shade-100);
	--color-json-null: var(--prim-color-alt-c);
	--color-json-boolean: var(--prim-color-alt-a);
	--color-json-number: var(--prim-color-alt-a);
	--color-json-string: var(--prim-color-secondary-shade-100);
	--color-json-key: var(--prim-gray-670);
	--color-json-brackets: var(--prim-gray-670);
	--color-json-brackets-hover: var(--prim-color-alt-e);
	--color-json-line: var(--prim-gray-200);
	--color-json-highlight: var(--prim-gray-70);
	--color-code-background: var(--prim-gray-0);
	--color-code-background-readonly: var(--prim-gray-40);
	--color-code-lineHighlight: var(--prim-gray-40);
	--color-code-foreground: var(--prim-gray-670);
	--color-code-caret: var(--prim-gray-420);
	--color-code-selection: var(--prim-gray-120);
	--color-code-gutterBackground: var(--prim-gray-0);
	--color-code-gutterForeground: var(--prim-gray-320);
	--color-code-tags-comment: var(--prim-gray-420);
	--color-line-break: var(--prim-gray-320);
	--color-code-line-break: var(--prim-color-secondary-tint-200);
>>>>>>> 4f27b39b45b58779d363980241e6e5e11b58f5da

	// Variables
	--color-variables-usage-font: #000000;
	--color-variables-usage-syntax-bg: #4d4d4d;

	// Button primary
	--color-button-primary-font: #ffffff;
	--color-button-primary-border: #000000;
	--color-button-primary-background: #000000;
	--color-button-primary-hover-active-border: #1a1a1a;
	--color-button-primary-hover-active-focus-background: #1a1a1a;
	--color-button-primary-focus-outline: rgba(0, 0, 0, 0.035);
	--color-button-primary-disabled-font: rgba(0, 0, 0, 0.03);
	--color-button-primary-disabled-border: transparent;
	--color-button-primary-disabled-background: rgba(0, 0, 0, 0.05);

	// Button secondary
	--color-button-secondary-font: #000000;
	--color-button-secondary-border: #000000;
	--color-button-secondary-background: #ffffff;
	--color-button-secondary-hover-active-focus-font: #1a1a1a;
	--color-button-secondary-hover-active-focus-border: #000000;
	--color-button-secondary-hover-background: rgba(0, 0, 0, 0.01);
	--color-button-secondary-active-focus-background: rgba(0, 0, 0, 0.01);
	--color-button-secondary-focus-outline: rgba(0, 0, 0, 0.035);
	--color-button-secondary-disabled-font: rgba(0, 0, 0, 0.03);
	--color-button-secondary-disabled-border: rgba(0, 0, 0, 0.03);

	// Button success, warning, danger
	--color-button-success-font: #ffffff;
	--color-button-success-disabled-font: rgba(0, 0, 0, 0.03);
	--color-button-warning-font: #ffffff;
	--color-button-warning-disabled-font: rgba(0, 0, 0, 0.03);
	--color-button-danger-font: #ffffff;
	--color-button-danger-disabled-font: rgba(0, 0, 0, 0.03);

	// Text button
	--color-text-button-secondary-font: #000000;

	// Node Creator Button
	--color-button-node-creator-border-font: #666666;
	--color-button-node-creator-hover-font: #000000;
	--color-button-node-creator-hover-border: #000000;
	--color-button-node-creator-background: #ffffff;

	// Table
	--color-table-header-background: #cccccc;
	--color-table-row-background: #666666;
	--color-table-row-even-background: #999999;
	--color-table-row-hover-background: #4d4d4d;
	--color-table-row-highlight-background: #ff9900;

	// Notification
	--color-notification-background: #666666;

<<<<<<< HEAD
	// Execution card
	--execution-card-border-success: #333333;
	--execution-card-border-error: #ff4c4c;
	--execution-card-border-waiting: #666666;
	--execution-card-border-running: #b3b3b3;
	--execution-card-border-unknown: #e0e0e0;
	--execution-card-background-hover: #b3b3b3;

	// NDV
	--color-run-data-background: #cccccc;
	--color-ndv-droppable-parameter: #666666;
	--color-ndv-droppable-parameter-background: rgba(0, 204, 255, 0.01);
	--color-ndv-droppable-parameter-active-background: rgba(0, 255, 255, 0.015);
	--color-ndv-back-font: #ffffff;
	--color-ndv-output-error-message: #ff4c4c;
=======
	// Execution
	--execution-card-border-new: var(--prim-gray-200);
	--execution-card-border-success: var(--prim-color-alt-a-tint-300);
	--execution-card-border-error: var(--prim-color-alt-c-tint-250);
	--execution-card-border-waiting: var(--prim-color-secondary-tint-300);
	--execution-card-border-running: var(--prim-color-alt-b-tint-250);
	--execution-card-border-unknown: var(--prim-gray-120);
	--execution-card-background-hover: var(--color-foreground-light);
	--execution-card-text-waiting: var(--color-secondary);
	--execution-selector-background: var(--color-background-dark);
	--execution-selector-text: var(--color-text-xlight);
	--execution-select-all-text: var(--color-danger);

	// NDV
	--color-run-data-background: var(--color-background-base);
	--color-ndv-droppable-parameter: var(--color-secondary);
	--color-ndv-droppable-parameter-background: var(--prim-color-secondary-alpha-010);
	--color-ndv-droppable-parameter-active-background: var(--prim-color-alt-a-alpha-015);
	--color-ndv-back-font: var(--prim-gray-0);
>>>>>>> 4f27b39b45b58779d363980241e6e5e11b58f5da

	// Notice
	--color-notice-warning-border: #ff9900;
	--color-notice-warning-background: rgba(255, 153, 0, 0.02);
	--color-notice-font: #000000;

	// Callout
	--color-callout-info-border: #000000;
	--color-callout-info-background: #ffffff;
	--color-callout-info-font: #000000;
	--color-callout-info-icon: #333333;
	--color-callout-success-border: #333333;
	--color-callout-success-background: #4d4d4d;
	--color-callout-success-font: #000000;
	--color-callout-success-icon: #000000;
	--color-callout-warning-border: #ff9900;
	--color-callout-warning-background: rgba(255, 153, 0, 0.02);
	--color-callout-warning-font: #ff9900;
	--color-callout-warning-icon: #ff9900;
	--color-callout-danger-border: #ff4c4c;
	--color-callout-danger-background: rgba(255, 76, 76, 0.02);
	--color-callout-danger-font: #ff4c4c;
	--color-callout-danger-icon: #ff4c4c;
	--color-callout-secondary-border: #666666;
	--color-callout-secondary-background: #808080;
	--color-callout-secondary-font: #666666;
	--color-callout-secondary-icon: #666666;

	// Dialogs and overlays
	--color-dialog-background: #ffffff;
	--color-dialog-overlay-background: rgba(0, 0, 0, 0.75);
	--color-dialog-overlay-background-dark: rgba(0, 0, 0, 0.75);
	--color-block-ui-overlay: #333333;

	// Avatar
	--color-avatar-font: #000000;

<<<<<<< HEAD
	// Value Survey
	--color-value-survey-background: #666666;
	--color-value-survey-font: #ffffff;
=======
	// NPS Survey
	--color-nps-survey-background: var(--prim-gray-740);
	--color-nps-survey-font: var(--prim-gray-0);
>>>>>>> 4f27b39b45b58779d363980241e6e5e11b58f5da

	// Action Dropdown
	--color-action-dropdown-item-active-background: #cccccc;

	// Switch (Activation, boolean)
	--color-switch-background: #333333;
	--color-switch-active-background: #000000;
	--color-switch-border-color: transparent;
	--color-switch-toggle: #ffffff;

	// Feature Request
	--color-feature-request-font: #ffffff;

	// Input Triple
	--color-background-input-triple: #999999;

	// Node error
	--color-node-error-output-text-color: #ff4c4c;

	// MFA Recovery codes
	--color-mfa-recovery-code-background: #cccccc;
	--color-mfa-recovery-code-color: #000000;
	--color-mfa-lose-access-text-color: #ff4c4c;

	// Text highlight
	--color-text-highlight-background: var(--prim-color-alt-d-shade-150);

	// AI
	--node-type-background-l: 95%;
	--node-type-supplemental-label-color-h: 235;
	--node-type-supplemental-label-color-s: 28%;
	--node-type-supplemental-label-color-l: 40%;
	--node-type-supplemental-color-h: 235;
	--node-type-supplemental-color-s: 28%;
	--node-type-supplemental-color-l: 60%;
	--node-type-supplemental-label-color: hsl(
		var(--node-type-supplemental-label-color-h),
		var(--node-type-supplemental-label-color-s),
		var(--node-type-supplemental-label-color-l)
	);
	--node-type-supplemental-icon: var(--color-foreground-dark);
	--node-type-supplemental-color: hsl(
		var(--node-type-supplemental-color-h),
		var(--node-type-supplemental-color-s),
		var(--node-type-supplemental-color-l)
	);
	--node-type-supplemental-background: hsl(
		var(--node-type-supplemental-color-h),
		var(--node-type-supplemental-color-s),
		var(--node-type-background-l)
	);
	--node-type-supplemental-connector-color: var(--color-foreground-dark);
	--node-type-ai_chain-color-h: var(--node-type-supplemental-color-h);
	--node-type-ai_chain-color-s: var(--node-type-supplemental-color-s);
	--node-type-ai_chain-color-l: var(--node-type-supplemental-color-l);
	--node-type-ai_chain-color: hsl(
		var(--node-type-ai_chain-color-h),
		var(--node-type-ai_chain-color-s),
		var(--node-type-ai_chain-color-l)
	);
	--node-type-chain-background: hsl(
		var(--node-type-ai_chain-color-h),
		var(--node-type-ai_chain-color-s),
		var(--node-type-background-l)
	);
	--node-type-ai_document-color-h: var(--node-type-supplemental-color-h);
	--node-type-ai_document-color-s: var(--node-type-supplemental-color-s);
	--node-type-ai_document-color-l: var(--node-type-supplemental-color-l);
	--node-type-ai_document-color: hsl(
		var(--node-type-ai_document-color-h),
		var(--node-type-ai_document-color-s),
		var(--node-type-ai_document-color-l)
	);
	--node-type-ai_document-background: hsl(
		var(--node-type-ai_document-color-h),
		var(--node-type-ai_document-color-s),
		var(--node-type-background-l)
	);
	--node-type-ai_embedding-color-h: var(--node-type-supplemental-color-h);
	--node-type-ai_embedding-color-s: var(--node-type-supplemental-color-s);
	--node-type-ai_embedding-color-l: var(--node-type-supplemental-color-l);
	--node-type-ai_embedding-color: hsl(
		var(--node-type-ai_embedding-color-h),
		var(--node-type-ai_embedding-color-s),
		var(--node-type-ai_embedding-color-l)
	);
	--node-type-ai_embedding-background: hsl(
		var(--node-type-ai_embedding-color-h),
		var(--node-type-ai_embedding-color-s),
		var(--node-type-background-l)
	);
	--node-type-ai_languageModel-color-h: var(--node-type-supplemental-color-h);
	--node-type-ai_languageModel-color-s: var(--node-type-supplemental-color-s);
	--node-type-ai_languageModel-color-l: var(--node-type-supplemental-color-l);
	--node-type-ai_languageModel-color: hsl(
		var(--node-type-ai_languageModel-color-h),
		var(--node-type-ai_languageModel-color-s),
		var(--node-type-ai_languageModel-color-l)
	);
	--node-type-ai_languageModel-background: hsl(
		var(--node-type-ai_languageModel-color-h),
		var(--node-type-ai_languageModel-color-s),
		var(--node-type-background-l)
	);
	--node-type-ai_memory-color-h: var(--node-type-supplemental-color-h);
	--node-type-ai_memory-color-s: var(--node-type-supplemental-color-s);
	--node-type-ai_memory-color-l: var(--node-type-supplemental-color-l);
	--node-type-ai_memory-color: hsl(
		var(--node-type-ai_memory-color-h),
		var(--node-type-ai_memory-color-s),
		var(--node-type-ai_memory-color-l)
	);
	--node-type-ai_memory-background: hsl(
		var(--node-type-ai_memory-color-h),
		var(--node-type-ai_memory-color-s),
		var(--node-type-background-l)
	);
	--node-type-ai_outputParser-color-h: var(--node-type-supplemental-color-h);
	--node-type-ai_outputParser-color-s: var(--node-type-supplemental-color-s);
	--node-type-ai_outputParser-color-l: var(--node-type-supplemental-color-l);
	--node-type-ai_outputParser-color: hsl(
		var(--node-type-ai_outputParser-color-h),
		var(--node-type-ai_outputParser-color-s),
		var(--node-type-ai_outputParser-color-l)
	);
	--node-type-ai_outputParser-background: hsl(
		var(--node-type-ai_outputParser-color-h),
		var(--node-type-ai_outputParser-color-s),
		var(--node-type-background-l)
	);
	--node-type-ai_tool-color-h: var(--node-type-supplemental-color-h);
	--node-type-ai_tool-color-s: var(--node-type-supplemental-color-s);
	--node-type-ai_tool-color-l: var(--node-type-supplemental-color-l);
	--node-type-ai_tool-color: hsl(
		var(--node-type-ai_tool-color-h),
		var(--node-type-ai_tool-color-s),
		var(--node-type-ai_tool-color-l)
	);
	--node-type-ai_tool-background: hsl(
		var(--node-type-ai_tool-color-h),
		var(--node-type-ai_tool-color-s),
		var(--node-type-background-l)
	);
	--node-type-ai_retriever-color-h: var(--node-type-supplemental-color-h);
	--node-type-ai_retriever-color-s: var(--node-type-supplemental-color-s);
	--node-type-ai_retriever-color-l: var(--node-type-supplemental-color-l);
	--node-type-ai_retriever-color: hsl(
		var(--node-type-ai_retriever-color-h),
		var(--node-type-ai_retriever-color-s),
		var(--node-type-ai_retriever-color-l)
	);
	--node-type-ai_retriever-background: hsl(
		var(--node-type-ai_retriever-color-h),
		var(--node-type-ai_retriever-color-s),
		var(--node-type-background-l)
	);
	--node-type-ai_textSplitter-color-h: var(--node-type-supplemental-color-h);
	--node-type-ai_textSplitter-color-s: var(--node-type-supplemental-color-s);
	--node-type-ai_textSplitter-color-l: var(--node-type-supplemental-color-l);
	--node-type-ai_textSplitter-color: hsl(
		var(--node-type-ai_textSplitter-color-h),
		var(--node-type-ai_textSplitter-color-s),
		var(--node-type-ai_textSplitter-color-l)
	);
	--node-type-ai_textSplitter-background: hsl(
		var(--node-type-ai_textSplitter-color-h),
		var(--node-type-ai_textSplitter-color-s),
		var(--node-type-background-l)
	);
	--node-type-ai_vectorRetriever-color-h: var(--node-type-supplemental-color-h);
	--node-type-ai_vectorRetriever-color-s: var(--node-type-supplemental-color-s);
	--node-type-ai_vectorRetriever-color-l: var(--node-type-supplemental-color-l);
	--node-type-ai_vectorRetriever-color: hsl(
		var(--node-type-ai_vectorRetriever-color-h),
		var(--node-type-ai_vectorRetriever-color-s),
		var(--node-type-ai_vectorRetriever-color-l)
	);
	--node-type-ai_vectorRetriever-background: hsl(
		var(--node-type-ai_vectorRetriever-color-h),
		var(--node-type-ai_vectorRetriever-color-s),
		var(--node-type-background-l)
	);
	--node-type-ai_vectorStore-color-h: var(--node-type-supplemental-color-h);
	--node-type-ai_vectorStore-color-s: var(--node-type-supplemental-color-s);
	--node-type-ai_vectorStore-color-l: var(--node-type-supplemental-color-l);
	--node-type-ai_vectorStore-color: hsl(
		var(--node-type-ai_vectorStore-color-h),
		var(--node-type-ai_vectorStore-color-s),
		var(--node-type-ai_vectorStore-color-l)
	);
	--node-type-ai_vectorStore-background: hsl(
		var(--node-type-ai_vectorStore-color-h),
		var(--node-type-ai_vectorStore-color-s),
		var(--node-type-background-l)
	);

	// Various
	--color-avatar-accent-1: #b3b3b3;
	--color-avatar-accent-2: #666666;
	--color-info: #000000;
	--color-info-tint-1: #b3b3b3;
	--color-info-tint-2: #cccccc;
	--color-grey: #1a1a1a;
	--color-light-grey: #333333;
	--color-neutral: #4d4d4d;
	--color-configurable-node-name: #000000;
	--color-secondary-link: #666666;
	--color-secondary-link-hover: #4d4d4d;

	--box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
	--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12);
	--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.07);

	--border-radius-xlarge: 12px;
	--border-radius-large: 8px;
	--border-radius-base: 4px;
	--border-radius-small: 2px;
	--border-color-base: #000000;
	--border-color-light: #4d4d4d;

	--border-style-base: solid;
	--border-width-base: 1px;
	--border-base: var(--border-width-base) var(--border-style-base) var(--color-foreground-base);

	--font-family: 'Open Sans', sans-serif;
	--font-family-monospace: 'Courier New', Courier, monospace;

	--font-size-3xs: 0.625rem;
	--font-size-2xs: 0.75rem;
	--font-size-xs: 0.8125rem;
	--font-size-s: 0.875rem;
	--font-size-m: 1rem;
	--font-size-l: 1.125rem;
	--font-size-xl: 1.25rem;
	--font-size-2xl: 1.75rem;

	--font-line-height-compact: 1.25;
	--font-line-height-regular: 1.3;
	--font-line-height-loose: 1.35;
	--font-line-height-xloose: 1.5;

	--font-weight-regular: 400;
	--font-weight-bold: 600;

	--spacing-5xs: 0.125rem;
	--spacing-4xs: 0.25rem;
	--spacing-3xs: 0.375rem;
	--spacing-2xs: 0.5rem;
	--spacing-xs: 0.75rem;
	--spacing-s: 1rem;
	--spacing-m: 1.25rem;
	--spacing-l: 1.5rem;
	--spacing-xl: 2rem;
	--spacing-2xl: 3rem;
	--spacing-3xl: 4rem;
	--spacing-4xl: 8rem;
	--spacing-5xl: 16rem;
}

:root {
	@include theme;
}

@media (prefers-color-scheme: light) {
	body:not([data-theme]) {
		@include theme;
	}
}

body[data-theme='light'] {
	@include theme;
}
