@use 'sass:math';

@mixin theme {
	// Primary tokens
	--color-danger: var(--prim-color-alt-k);

	// Text
	--color-text-dark: #1a1a1a; // Dark gray
	--color-text-base: #e0e0e0; // Light gray
	--color-text-light: #c0c0c0; // Lighter gray
	--color-text-lighter: #a0a0a0; // Even lighter gray
	--color-text-xlight: #808080; // Lightest gray
	--color-text-danger: #ff4c4c; // Red for danger

	// Foreground
	--color-foreground-xdark: #e0e0e0; // Light gray
	--color-foreground-dark: #a0a0a0; // Medium gray
	--color-foreground-base: #707070; // Base gray
	--color-foreground-light: #606060; // Light gray
	--color-foreground-xlight: #505050; // Lightest gray

	// Background
	--color-background-dark: #0d0d0d; // Dark black
	--color-background-medium: #303030; // Medium black
	--color-background-base: #404040; // Base black
	--color-background-light-base: #505050; // Light base black
	--color-background-light: #606060; // Light black
	--color-background-xlight: #707070; // Lightest black

	--box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.1);
	--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.2);
	--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.2);

	// Secondary tokens

	// AI Assistant
	--color-assistant-highlight-1: #8c90f2;
	--color-assistant-highlight-2: #a977f0;
	--color-assistant-highlight-3: #f0778b;
	--color-askAssistant-button-background: #2e2e2e;
	--color-askAssistant-button-background-hover: #383839;
	--color-askAssistant-button-background-active: #414244;
	--color-assistant-inner-highlight-hover: var(--color-askAssistant-button-background-hover);
	--color-assistant-inner-highlight-active: var(--color-askAssistant-button-background-active);

	--color-assistant-highlight-gradient: linear-gradient(
		105deg,
		var(--color-assistant-highlight-1) 0%,
		var(--color-assistant-highlight-2) 50%,
		var(--color-assistant-highlight-3) 100%
	);
	--color-assistant-highlight-reverse: linear-gradient(
		105deg,
		var(--color-assistant-highlight-3) 0%,
		var(--color-assistant-highlight-2) 50%,
		var(--color-assistant-highlight-1) 100%
	);

	// LangChain
	--color-lm-chat-messages-background: #303030; // Medium black
	--color-lm-chat-bot-background: #202020; // Darker black
	--color-lm-chat-bot-border: #181818; // Darkest black
	--color-lm-chat-user-background: #d3d3d3; // Light gray
	--color-lm-chat-user-border: #b0b0b0; // Border gray

	// Canvas
	--color-canvas-background: #303030; // Medium black
	--color-canvas-background-h: var(--prim-gray-h); // Used for connectors labels background
	--color-canvas-background-s: 1%;
	--color-canvas-background-l: 18%;
	--color-canvas-dot: #404040; // Dots gray
	--color-canvas-read-only-line: #303030; // Read-only line black
	--color-canvas-node-background: #1a1a1a; // Node background dark gray
	--color-canvas-node-pinned-border: #ff9900; // Pinned border orange
	--color-canvas-selected: rgba(255, 255, 255, 0.025); // Selected node highlight
	--node-type-main-color: #a0a0a0; // Main node gray

	// Sticky
	--color-sticky-background: #333333; // Dark sticky background
	--color-sticky-border: #4d4d4d; // Sticky border gray
	--color-sticky-font: #ffffff; // White font
	--color-sticky-code-font: #ffcc00; // Code font yellow
	--color-sticky-code-background: rgba(255, 255, 255, 0.01); // Code background with opacity

	--color-sticky-background-1: #333333;
	--color-sticky-border-1: #4d4d4d;
	--color-sticky-background-2: #4d4d4d;
	--color-sticky-border-2: #595959;
	--color-sticky-background-3: #595959;
	--color-sticky-border-3: #666666;
	--color-sticky-background-4: #666666;
	--color-sticky-border-4: #737373;
	--color-sticky-background-5: #737373;
	--color-sticky-border-5: #808080;
	--color-sticky-background-6: #808080;
	--color-sticky-border-6: #8c8c8c;
	--color-sticky-background-7: #8c8c8c;
	--color-sticky-border-7: #999999;

	// NodeIcon
	--color-node-icon-gray: var(--prim-gray-120);
	--color-node-icon-black: var(--prim-gray-10);
	--color-node-icon-blue: #898fff;
	--color-node-icon-light-blue: #58abff;
	--color-node-icon-dark-blue: #7ba7ff;
	--color-node-icon-orange-red: var(--prim-color-primary);
	--color-node-icon-pink-red: #f85d82;
	--color-node-icon-red: var(--prim-color-alt-k);
	--color-node-icon-light-green: #20b69e;
	--color-node-icon-green: #38cb7a;
	--color-node-icon-dark-green: #86decc;
	--color-node-icon-purple: #9b6dd5;
	--color-node-icon-crimson: #f188a2;

	// Expressions, autocomplete, infobox
	--color-valid-resolvable-foreground: #00ff00; // Green for valid
	--color-valid-resolvable-background: rgba(0, 255, 0, 0.025); // Green background with opacity
	--color-invalid-resolvable-foreground: #ff4c4c; // Red for invalid
	--color-invalid-resolvable-background: rgba(255, 76, 76, 0.02); // Red background with opacity
	--color-pending-resolvable-foreground: #e0e0e0; // Pending gray
	--color-pending-resolvable-background: rgba(
		224,
		224,
		224,
		0.01
	); // Pending background with opacity
	--color-expression-editor-background: #303030; // Expression editor background
	--color-expression-syntax-example: #404040; // Syntax example gray
	--color-autocomplete-item-selected: #808080; // Autocomplete item selected gray
	--color-autocomplete-section-header-border: #303030; // Autocomplete section header border
	--color-infobox-background: #505050; // Infobox background
	--color-infobox-examples-border-color: #404040; // Infobox examples border

	// Code
	--color-code-tags-string: #ffcc00; // String yellow
	--color-code-tags-primitive: #b3b300; // Primitive yellow
	--color-code-tags-keyword: #ff6600; // Keyword orange
	--color-code-tags-operator: #e0e0e0; // Operator gray
	--color-code-tags-variable: #00ccff; // Variable cyan
	--color-code-tags-definition: #8080ff; // Definition blue
	--color-json-default: #808080; // JSON default gray
	--color-json-null: #ff4c4c; // JSON null red
	--color-json-boolean: #00cc00; // JSON boolean green
	--color-json-number: #00cc00; // JSON number green
	--color-json-string: #808080; // JSON string gray
	--color-json-key: #1a1a1a; // JSON key dark gray
	--color-json-brackets: #404040; // JSON brackets gray
	--color-json-brackets-hover: #8080ff; // JSON brackets hover blue
	--color-json-line: #e0e0e0; // JSON line gray
	--color-json-highlight: #404040; // JSON highlight gray
	--color-code-background: #303030; // Code background
	--color-code-background-readonly: #505050; // Code background readonly
	--color-code-lineHighlight: #505050; // Code line highlight
	--color-code-foreground: #0d0d0d; // Code foreground
	--color-code-caret: #0d0d0d; // Code caret
	--color-code-selection: rgba(128, 128, 255, 0.04); // Code selection with opacity
	--color-code-gutterBackground: #404040; // Code gutter background
	--color-code-gutterForeground: #c0c0c0; // Code gutter foreground
	--color-code-tags-comment: #e0e0e0; // Code tags comment gray

	// Variables
	--color-variables-usage-font: #00ff00; // Variables usage font green
	--color-variables-usage-syntax-bg: rgba(
		0,
		255,
		0,
		0.025
	); // Variables usage syntax background with opacity

	// Button primary
	--color-button-primary-focus-outline: rgba(255, 255, 255, 0.035); // Button primary focus outline
	--color-button-primary-disabled-font: rgba(0, 0, 0, 0.03); // Button primary disabled font
	--color-button-primary-disabled-border: transparent;
	--color-button-primary-disabled-background: rgba(
		255,
		255,
		255,
		0.05
	); // Button primary disabled background

	// Button secondary
	--color-button-secondary-font: #0d0d0d; // Button secondary font
	--color-button-secondary-border: #0d0d0d; // Button secondary border
	--color-button-secondary-background: transparent;
	--color-button-secondary-hover-active-focus-font: #00ccff; // Button secondary hover/active/focus font
	--color-button-secondary-hover-background: transparent;
	--color-button-secondary-active-focus-background: rgba(
		0,
		255,
		255,
		0.01
	); // Button secondary active/focus background
	--color-button-secondary-focus-outline: rgba(
		0,
		255,
		255,
		0.035
	); // Button secondary focus outline
	--color-button-secondary-disabled-font: rgba(0, 0, 0, 0.03); // Button secondary disabled font
	--color-button-secondary-disabled-border: rgba(0, 0, 0, 0.03); // Button secondary disabled border

	// Text button
	--color-text-button-secondary-font: #c0c0c0; // Text button secondary font

	// Node Creator Button
	--color-button-node-creator-border-font: var(--color-button-secondary-font);
	--color-button-node-creator-hover-font: var(--color-button-secondary-hover-active-focus-font);
	--color-button-node-creator-hover-border: #00ccff; // Node creator button hover border
	--color-button-node-creator-background: rgba(0, 255, 255, 0.01); // Node creator button background

	// Table
	--color-table-header-background: #505050; // Table header background
	--color-table-row-background: #303030; // Table row background
	--color-table-row-even-background: #404040; // Table row even background
	--color-table-row-hover-background: #505050; // Table row hover background
	--color-table-row-highlight-background: #ff9900; // Table row highlight background

	// Notification
	--color-notification-background: #505050; // Notification background

	// Execution card
	--execution-card-background-hover: var(
		--color-foreground-base
	); // Execution card background hover

	// NDV
	--color-run-data-background: #303030; // NDV run data background
	--color-ndv-droppable-parameter: #00ccff; // NDV droppable parameter
	--color-ndv-droppable-parameter-background: rgba(
		0,
		204,
		255,
		0.01
	); // NDV droppable parameter background
	--color-ndv-droppable-parameter-active-background: rgba(
		0,
		255,
		255,
		0.015
	); // NDV droppable parameter active background
	--color-ndv-back-font: #ffffff; // NDV back font
	--color-ndv-output-error-message: #ff4c4c; // NDV output error message

	// Notice
	--color-notice-warning-border: #ffcc00; // Notice warning border
	--color-notice-warning-background: rgba(255, 204, 0, 0.02); // Notice warning background
	--color-notice-font: #ffffff; // Notice font

	// Callout
	--color-callout-info-border: #707070; // Callout info border
	--color-callout-info-background: #505050; // Callout info background
	--color-callout-info-font: #ffffff; // Callout info font
	--color-callout-success-border: #00ff00; // Callout success border
	--color-callout-success-background: rgba(0, 255, 0, 0.025); // Callout success background
	--color-callout-success-font: #ffffff; // Callout success font
	--color-callout-warning-border: #ff9900; // Callout warning border
	--color-callout-warning-background: rgba(255, 153, 0, 0.02); // Callout warning background
	--color-callout-warning-font: #ffffff; // Callout warning font
	--color-callout-danger-border: #ff4c4c; // Callout danger border
	--color-callout-danger-background: rgba(255, 76, 76, 0.02); // Callout danger background
	--color-callout-danger-font: #ffffff; // Callout danger font
	--color-callout-secondary-border: #00ccff; // Callout secondary border
	--color-callout-secondary-background: rgba(0, 204, 255, 0.025); // Callout secondary background
	--color-callout-secondary-font: #ffffff; // Callout secondary font

	// Dialogs and overlays
	--color-dialog-background: #303030; // Dialog background
	--color-dialog-overlay-background: rgba(0, 0, 0, 0.75); // Dialog overlay background
	--color-dialog-overlay-background-dark: rgba(0, 0, 0, 0.75); // Dialog overlay background dark

	// Avatar
	--color-avatar-font: #ffffff; // Avatar font

	// Value Survey
	--color-value-survey-background: #505050; // Value survey background
	--color-value-survey-font: #ffffff; // Value survey font

	// Switch (Activation, boolean)
	--color-switch-background: #303030; // Switch background
	--color-switch-border-color: #404040; // Switch border color
	--color-switch-toggle: #ffffff; // Switch toggle

	// Action Dropdown
	--color-action-dropdown-item-active-background: var(
		--color-background-xlight
	); // Action dropdown item active background

	// Input Triple
	--color-background-input-triple: #303030; // Input triple background

	// Node error
	--color-node-error-output-text-color: #ff4c4c; // Node error output text color

	// MFA Recovery codes
	--color-mfa-recovery-code-background: var(
		--color-background-xlight
	); // MFA recovery code background
	--color-mfa-recovery-code-color: var(--color-text-dark); // MFA recovery code color
	--color-mfa-lose-access-text-color: #ff4c4c; // MFA lose access text color

	// Various
	--color-info-tint-1: #707070; // Info tint 1
	--color-info-tint-2: #505050; // Info tint 2
	--border-color-base: var(--color-foreground-base); // Border color base
	--border-color-light: var(--color-foreground-light); // Border color light
	--border-base: var(--border-width-base) var(--border-style-base) var(--color-foreground-base); // Border base
	--node-type-supplemental-label-color-l: 100%; // Node type supplemental label color lightness
	--node-type-supplemental-label-color: hsl(
		var(--node-type-supplemental-label-color-h),
		var(--node-type-supplemental-label-color-s),
		var(--node-type-supplemental-label-color-l)
	); // Node type supplemental label color
	--color-configurable-node-name: var(--color-text-lighter); // Configurable node name color
	--color-secondary-link: #00ccff; // Secondary link color
	--color-secondary-link-hover: #00ccff; // Secondary link hover color

	// Font
	--font-family: 'Open Sans', sans-serif;
	--font-family-monospace: 'Courier New', Courier, monospace;

	--font-size-3xs: 0.625rem;
	--font-size-2xs: 0.75rem;
	--font-size-xs: 0.8125rem;
	--font-size-s: 0.875rem;
	--font-size-m: 1rem;
	--font-size-l: 1.125rem;
	--font-size-xl: 1.25rem;
	--font-size-2xl: 1.75rem;

	--font-line-height-compact: 1.25;
	--font-line-height-regular: 1.3;
	--font-line-height-loose: 1.35;
	--font-line-height-xloose: 1.5;

	--font-weight-regular: 400;
	--font-weight-bold: 600;

	--spacing-5xs: 0.125rem;
	--spacing-4xs: 0.25rem;
	--spacing-3xs: 0.375rem;
	--spacing-2xs: 0.5rem;
	--spacing-xs: 0.75rem;
	--spacing-s: 1rem;
	--spacing-m: 1.25rem;
	--spacing-l: 1.5rem;
	--spacing-xl: 2rem;
	--spacing-2xl: 3rem;
	--spacing-3xl: 4rem;
	--spacing-4xl: 8rem;
	--spacing-5xl: 16rem;
}

body[data-theme='dark'] {
	@include theme;
}

@media (prefers-color-scheme: dark) {
	body:not([data-theme]) {
		@include theme;
	}
}
