@use 'sass:math';

@mixin theme {
	// Primary tokens

	// Text
	--color-text-dark: #000000;
	--color-text-base: #333333;
	--color-text-light: #666666;
	--color-text-lighter: #999999;
	--color-text-xlight: #CCCCCC;
	--color-text-danger: #FF0000;

	// Foreground
	--color-foreground-xdark: #000000;
	--color-foreground-dark: #333333;
	--color-foreground-base: #666666;
	--color-foreground-light: #999999;
	--color-foreground-xlight: #CCCCCC;

	// Background
	--color-background-dark: #000000;
	--color-background-medium: #333333;
	--color-background-base: #666666;
	--color-background-light-base: #999999;
	--color-background-light: #CCCCCC;
	--color-background-xlight: #FFFFFF;

	--box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.1);
	--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.2);
	--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.2);

	// Secondary tokens

	// LangChain
	--color-lm-chat-messages-background: #000000;
	--color-lm-chat-bot-background: #333333;
	--color-lm-chat-bot-border: #444444;
	--color-lm-chat-user-background: #FFFFFF;
	--color-lm-chat-user-border: #FFFFFF;

	// Canvas
	--color-canvas-background: #000000;
	--color-canvas-background-h: 0; // Used for connectors labels background
	--color-canvas-background-s: 0%;
	--color-canvas-background-l: 0%;
	--color-canvas-dot: #666666;
	--color-canvas-read-only-line: #888888;
	--color-canvas-node-background: #000000;
	--color-canvas-node-pinned-border: #888888;
	--color-canvas-selected: rgba(255, 255, 255, 0.25);
	--node-type-main-color: #333333;

	// Sticky
	--color-sticky-background: #444444;
	--color-sticky-border: #555555;
	--color-sticky-font: #FFFFFF;
	--color-sticky-code-font: #888888;
	--color-sticky-code-background: rgba(0, 0, 0, 0.1);

	--color-sticky-background-1: #444444;
	--color-sticky-border-1: #555555;
	--color-sticky-background-2: #555555;
	--color-sticky-border-2: #666666;
	--color-sticky-background-3: #666666;
	--color-sticky-border-3: #777777;
	--color-sticky-background-4: #777777;
	--color-sticky-border-4: #888888;
	--color-sticky-background-5: #888888;
	--color-sticky-border-5: #999999;
	--color-sticky-background-6: #999999;
	--color-sticky-border-6: #AAAAAA;
	--color-sticky-background-7: #CCCCCC;
	--color-sticky-border-7: #999999;

	// Expressions, autocomplete, infobox
	--color-valid-resolvable-foreground: #00FF00;
	--color-valid-resolvable-background: rgba(0, 255, 0, 0.25);
	--color-invalid-resolvable-foreground: #FF0000;
	--color-invalid-resolvable-background: rgba(255, 0, 0, 0.2);
	--color-pending-resolvable-foreground: #333333;
	--color-pending-resolvable-background: rgba(0, 0, 0, 0.1);
	--color-expression-editor-background: #888888;
	--color-expression-syntax-example: #666666;
	--color-autocomplete-item-selected: #888888;
	--color-autocomplete-section-header-border: #333333;
	--color-infobox-background: #999999;
	--color-infobox-examples-border-color: #666666;

	// Code
	--color-code-tags-string: #00FF00;
	--color-code-tags-primitive: #FF0000;
	--color-code-tags-keyword: #0000FF;
	--color-code-tags-operator: #FFFF00;
	--color-code-tags-variable: #00FFFF;
	--color-code-tags-definition: #FF00FF;
	--color-json-default: #FFFFFF;
	--color-json-null: #FF0000;
	--color-json-boolean: #00FF00;
	--color-json-number: #00FF00;
	--color-json-string: #FFFFFF;
	--color-json-key: #000000;
	--color-json-brackets: #666666;
	--color-json-brackets-hover: #FF00FF;
	--color-json-line: #000000;
	--color-json-highlight: #666666;
	--color-code-background: #888888;
	--color-code-background-readonly: #CCCCCC;
	--color-code-lineHighlight: #CCCCCC;
	--color-code-foreground: #FFFFFF;
	--color-code-caret: #000000;
	--color-code-selection: rgba(255, 255, 255, 0.4);
	--color-code-gutterBackground: #666666;
	--color-code-gutterForeground: #999999;
	--color-code-tags-comment: #000000;

	// Variables
	--color-variables-usage-font: #00FF00;
	--color-variables-usage-syntax-bg: rgba(0, 255, 0, 0.25);

	// Button primary
	--color-button-primary-focus-outline: rgba(255, 255, 255, 0.35);
	--color-button-primary-disabled-font: rgba(0, 0, 0, 0.3);
	--color-button-primary-disabled-border: transparent;
	--color-button-primary-disabled-background: rgba(255, 255, 255, 0.5);

	// Button secondary
	--color-button-secondary-font: #FFFFFF;
	--color-button-secondary-border: #FFFFFF;
	--color-button-secondary-background: transparent;
	--color-button-secondary-hover-active-focus-font: #FFFFFF;
	--color-button-secondary-hover-background: transparent;
	--color-button-secondary-active-focus-background: rgba(255, 255, 255, 0.1);
	--color-button-secondary-focus-outline: rgba(255, 255, 255, 0.35);
	--color-button-secondary-disabled-font: rgba(0, 0, 0, 0.3);
	--color-button-secondary-disabled-border: rgba(0, 0, 0, 0.3);

	// Text button
	--color-text-button-secondary-font: #999999;

	// Node Creator Button
	--color-button-node-creator-border-font: var(--color-button-secondary-font);
	--color-button-node-creator-hover-font: var(--color-button-secondary-hover-active-focus-font);
	--color-button-node-creator-hover-border: #FFFFFF;
	--color-button-node-creator-background: rgba(255, 255, 255, 0.1);

	// Table
	--color-table-header-background: #CCCCCC;
	--color-table-row-background: #000000;
	--color-table-row-even-background: #888888;
	--color-table-row-hover-background: #CCCCCC;
	--color-table-row-highlight-background: #FFFF00;

	// Notification
	--color-notification-background: #CCCCCC;

	// Execution card
	--execution-card-background-hover: var(--color-foreground-base);

	// NDV
	--color-run-data-background: #888888;
	--color-ndv-droppable-parameter: #FFFFFF;
	--color-ndv-droppable-parameter-background: rgba(255, 255, 255, 0.1);
	--color-ndv-droppable-parameter-active-background: rgba(255, 255, 255, 0.15);
	--color-ndv-back-font: #000000;
	--color-ndv-output-error-message: #FF0000;

	// Notice
	--color-notice-warning-border: #FFFF00;
	--color-notice-warning-background: rgba(255, 255, 0, 0.2);
	--color-notice-font: #000000;

	// Callout
	--color-callout-info-border: #333333;
	--color-callout-info-background: #CCCCCC;
	--color-callout-info-font: #000000;
	--color-callout-success-border: #00FF00;
	--color-callout-success-background: rgba(0, 255, 0, 0.25);
	--color-callout-success-font: #000000;
	--color-callout-warning-border: #FFFF00;
	--color-callout-warning-background: rgba(255, 255, 0, 0.2);
	--color-callout-warning-font: #000000;
	--color-callout-danger-border: #FF0000;
	--color-callout-danger-background: rgba(255, 0, 0, 0.2);
	--color-callout-danger-font: #000000;
	--color-callout-secondary-border: #FFFFFF;
	--color-callout-secondary-background: rgba(255, 255, 255, 0.25);
	--color-callout-secondary-font: #000000;

	// Dialogs and overlays
	--color-dialog-background: #888888;
	--color-dialog-overlay-background: rgba(255, 255, 255, 0.75);
	--color-dialog-overlay-background-dark: rgba(255, 255, 255, 0.75);

	// Avatar
	--color-avatar-font: #000000;

	// Value Survey
	--color-value-survey-background: #CCCCCC;
	--color-value-survey-font: #000000;

	// Switch (Activation, boolean)
	--color-switch-background: #000000;
	--color-switch-border-color: #666666;
	--color-switch-toggle: #FFFFFF;

	// Action Dropdown
	--color-action-dropdown-item-active-background: var(--color-background-xlight);

	// Input Triple
	--color-background-input-triple: #888888;

	// Node error
	--color-node-error-output-text-color: #FF0000;

	// MFA Recovery codes
	--color-mfa-recovery-code-background: var(--color-background-xlight);
	--color-mfa-recovery-code-color: var(--color-text-dark);
	--color-mfa-lose-access-text-color: #FF0000;

	// Various
	--color-info-tint-1: #333333;
	--color-info-tint-2: #CCCCCC;
	--border-color-base: var(--color-foreground-base);
	--border-color-light: var(--color-foreground-light);
	--border-base: var(--border-width-base) var(--border-style-base) var(--color-foreground-base);
	--node-type-supplemental-label-color-l: 100%;
	--node-type-supplemental-label-color: hsl(
		var(--node-type-supplemental-label-color-h),
		var(--node-type-supplemental-label-color-s),
		var(--node-type-supplemental-label-color-l)
	);
	--color-configurable-node-name: var(--color-text-lighter);
	--color-secondary-link: #FFFFFF;
	--color-secondary-link-hover: #CCCCCC;
}

body[data-theme='dark'] {
	@include theme;
}

@media (prefers-color-scheme: dark) {
	body:not([data-theme]) {
		@include theme;
	}
}
